*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
    background-color: black;
    font-size: 1.5rem;
}
header{
    background-image: linear-gradient(to bottom, rgba(126, 116, 212, 0.582), rgb(126, 116, 212) );
    padding: 30px;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
}
section#area{
    background-color: rgba(126, 116, 212, 0.582);
    width: 600px;
    height: 400px;
    font-size: .8em;
    border-radius: 15px;
}
div#msg{
    text-align: center;
    margin: 10px;
}
div#foto{
    text-align: center;
    margin-top: 40px;
}
footer{
    text-align: center;
    background-color: rgba(126, 116, 212, 0.582);
    padding: 7px;
}

