*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
    background-color: black;
    font-size: 1.5rem;
}
header{
    background-image: linear-gradient(to bottom, purple, rgb(48, 0, 48) );
    padding: 30px;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
}
section#area{
    background-color: blueviolet;
    width: 600px;
    height: 400px;
    font-size: .8em;
    border-radius: 15px;
}
footer{
    text-align: center;
    background-color: purple;
    padding: 7px;
}

